.title{
    margin-bottom: 10px;
    color: black;
    text-align: center;
    /* border: 2px solid black; */
}
.logo{
    width: 20%;

}
@media (min-width: 588px) {
    .title{
    /* border: 2px solid black; */
margin-bottom: 50px;
}
  }
  